.copy {
	font-family: Tahoma;
	font-size: 11px;
	line-height: 12px;
	color: #636F71;
	text-decoration: none;
}
.copy2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 12px;
	color: #13670B;
}
.ban {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 14px;
	color: #666666;
}
.date {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #13670B;
}
.link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 12px;
	color: #13670B;
}
.text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 12px;
	color: #636F71;
}
.tit2 {
	font-family: Tahoma;
	font-size: 12px;
	line-height: 12px;
	color: #2F923E;
}
.newsletter {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 12px;
	height: 17px;
	width: 166px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #CDCDCD;
	border-bottom-color: #CDCDCD;
}
.form_1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 12px;
	height: 17px;
	width: 131px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #CDCDCD;
	border-bottom-color: #CDCDCD;
}
.form_2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 12px;
	height: 101px;
	width: 232px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #CDCDCD;
	border-bottom-color: #CDCDCD;
	overflow:auto;
}

.tit_3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 12px;
	color: #2F923E;
}
.link_2 {
	font-family: Tahoma;
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
	color: #999999;
}
